body {
  color: #333;
  background: #d0d0d0;
}

input {
  display: inline-block;
  margin-right: 1em;
  width: 75%;
}

img {
  width: 100%;
  max-width: 500px;
}

section {
  border-radius: 0.5em;
  border: 2px solid #333;
  margin-top: 1em;
  padding: 1em;
  background-color: #eee;
  transition: all 1s;
  position: relative;
}

section:hover {
  scale: 1.025;
  transform: rotate(-1deg);
  box-shadow: 0px 0px 10px;
}

h2 {
  text-transform: capitalize;
}
