body {
  padding: 1em;
  margin: 0;
  background-color: rgb(16, 178, 199);
}

ul,
li {
  padding: 0;
  margin: 0;
}

button {
  margin: 0.25em;
  padding: 0.2em 0.5em;
}

#count {
  padding: 0.25em;
}
